@tailwind base;
@tailwind components;
@tailwind utilities;
:root ,
#root,
#docs-root {
  --blue: #1e90ff;
  --white: #ffffff;
  --light-green:#19592A;
  --bold-green:#214030;
  --light-purple:#703D84;
  --bold-purple:#522276;
  --word-purple:#8800CA;
  --success:#17c964

}
body{
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
  
}
.screenshot-protection {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: rgba(255, 255, 255, 0.001); /* Very faint overlay */
}
.watermark {
  position: fixed;
  top: 10px;
  left: 10px;
  opacity: 0.2;
  font-size: 2rem;
  color: red;
  z-index: 9999;
}
.obfuscate-text {
  transform: rotate(180deg);
  direction: rtl;
}

/* bitton */
.button {
  --width: 120px;
  --height: 35px;
  --tooltip-height: 35px;
  --tooltip-width: 90px;
  --gap-between-tooltip-to-button: 18px;
  --button-color: #222;
  --tooltip-color: #fff;
  width: var(--width);
  height: var(--height);
  background: var(--button-color);
  position: relative;
  text-align: center;
  border-radius: 1.4em;
  font-family: "Arial";
  transition: background 0.3s;
  cursor: pointer;

}

.button::before {
  position: absolute;
  content: attr(data-tooltip);
  width: var(--tooltip-width);
  height: var(--tooltip-height);
  background-color: #555;
  font-size: 0.9rem;
  color: #fff;
  border-radius: .25em;
  line-height: var(--tooltip-height);
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
  left: calc(50% - var(--tooltip-width) / 2);
}

.button::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #555;
  left: calc(50% - 10px);
  bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
}

.button::after,.button::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-wrapper,.text,.icon {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
}

.text {
  top: 0
}

.text,.icon {
  transition: top 0.5s;
}

.icon {
  color: #fff;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  width: 24px;
  height: 24px;
}

.button:hover {
  background: #222;
}

.button:hover .text {
  top: -100%;
}

.button:hover .icon {
  top: 0;
}

.button:hover:before,.button:hover:after {
  opacity: 1;
  visibility: visible;
}

.button:hover:after {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.button:hover:before {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}




/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

/* for the header animation transition */
.header{
  transition: all ease-out 0.4s;
}
.reveal-vertical {
  transform: translateY(50px);
  opacity: 0;
  transition: opacity 0.8s ease-out, transform 1s ease-out;
}

.reveal-vertical.activation {
  transform: translateY(0);
  opacity: 1;
}

.reveal-horizontal-left {
  transform: translateX(-50px);
  opacity: 0;
  transition: opacity 0.8s ease-out, transform 1s ease-out;
}

.reveal-horizontal-left.activation {
  transform: translateX(0);
  opacity: 1;
}

.reveal-horizontal-right {
  transform: translateX(50px);
  opacity: 0;
  transition: opacity 0.8s ease-out, transform 1s ease-out;
}

.reveal-horizontal-right.activation {
  transform: translateX(0);
  opacity: 1;
}

/* for the hero section  */

.hero-vertical {
  transform: translateY(80px);
  opacity: 0;
  animation-delay: 0.4;
  transition:  1s ease-in-out
}

.hero-vertical.activation {
  transform: translateY(0);
  opacity: 1;
}

.hero-horizontal-left {
  transform: translateX(-80px);
  opacity: 0;
  animation-delay: 0.4;
  transition:  1s ease-in-out;
}

.hero-horizontal-left.activation {
  transform: translateX(0);
  opacity: 1;
}

.hero-horizontal-right {
  transform: translateX(80px);
  opacity: 0;
  animation-delay: 0.4;
  transition:  1s ease-in-out
}

.hero-horizontal-right.activation {
  transform: translateX(0);
  opacity: 1;
}
/* for the navbar */
.top-vertical{
  transform: translateY(-50px);
  opacity: 0;
  animation-delay: 0.4;
  transition:  1s ease-in-out
}
.top-vertical.activation {
  transform: translateY(0);
  opacity: 1;
}

/* //for the date picker  */

/* styles.css */
.rounded-date-picker .MuiInputBase-root {
  border-radius: 16px !important;
}

.rounded-date-picker .MuiPickersPopper-root {

}


/* for the stepper  */

.stepper{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.step{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  
}

.step-number{
  font-size: 14px;
}
.active .step-number{
  background-color: rgb(51, 51, 255) !important;
  color: #fff !important;
}
.complete .step-number{
  background-color:var(--light-green) !important;
  color: #fff;
}
.progress-bar{
  position: absolute;
  top: 25%;
  left: 0;
  height: 4px;
  background-color: #ccc;
}
.progress{
  height: 100%;
  background-color: green;
  transition:0.2s ease;
}

/* for the tables */
.bordered-table {
  border-collapse: separate;
  border-spacing: 0;
}

.bordered-table th,
.bordered-table td {
  border: 1px solid black;
}

.bordered-table th {
  border-bottom: 1px solid black;
}

/* Optional: Add some padding to cells for better spacing */
.bordered-table th,
.bordered-table td {
  padding: 12px;
}

/* Optional: Round the corners of the table */
.bordered-table {
  border-radius: 8px;
  overflow: hidden;
}

.bordered-table th:first-child {
  border-top-left-radius: 8px;
}

.bordered-table th:last-child {
  border-top-right-radius: 8px;
}

.bordered-table tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}

.bordered-table tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}


/* for the benyahia fimily pictures */

/* From Uiverse.io by eslam-hany */ 
.book {
  position: relative;
  border-radius: 10px;
  /* width: 100%; */
  /* height: 100%; */
  background-color: whitesmoke;
  -webkit-box-shadow: 1px 1px 12px gray;
  box-shadow: 1px 1px 12px gray;
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
}

.cover {
  top: 0;
  position: absolute;
  background-color: transparent;
  /* width: 100%; */
  /* height: 100%; */
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-box-shadow: 1px 1px 12px gray;
  box-shadow: 1px 1px 12px gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.book:hover .cover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-90deg);
  -ms-transform: rotatey(-90deg);
  transform: rotatey(-90deg);
}

.book .cover p , .book .p {
  font-size: 20px;
  font-weight: bolder;
}